<!DOCTYPE html>
<html>
<head>
	<title>Adicionar contacto</title>

	<style>
	body {
    
    	background-color: #cae4ff;    
		}
	</style>
</head>
<body>
<h1>Adicionar contacto</h1>
<br><br>

<a href="home">
	<img src="home.png" alt="Inicio" style="width:70px;height:70px; ">
</a>
<a href="mostrar">
	<img src="contactos.png" alt="Mostrar Contactos" style="width:70px;height:70px; ">
</a>

<br><br>

<form action="guardar" method="get">
  Telefono: <input type="text" name="telefono"/>
  <br><br>
  Nombre: <input type="text" name="nombre"/>
  <br><br>
  <input type="submit" value="Guardar"/>
</form>
</body>
</html>