<!DOCTYPE html>
<html>
<head>
	<title>Eliminar contacto</title>
	<style>
	body {
    
    	background-color: #cae4ff;    
		}
	</style>
</head>
<body>

<h1>Eliminar contacto</h1>

<a href="home">
	<img src="home.png" alt="Inicio" style="width:70px;height:70px; ">
</a>
<a href="mostrar">
	<img src="contactos.png" alt="Mostrar Contactos" style="width:70px;height:70px; ">
</a>


<br><br>
<form action="borrar" method="get">
  Telefono: <input type="text" name="telefono"/><br><br>
  <!--NoSmbre: <input type="text" name="nombre"/>-->
  <input type="submit" value="Borrar"/>
</form>

</body>
</html>


