<html>
<head>
<title>Contacto</title>

<style>
	body {
    
    	background-color: #cae4ff;    
		}
	</style>
</head>
<h1>Actualizar contacto</h1>
<br><br>

<a href="home">
	<img src="home.png" alt="Inicio" style="width:70px;height:70px; ">
</a>
<a href="mostrar">
	<img src="contactos.png" alt="Mostrar Contactos" style="width:70px;height:70px; ">
</a>

<br><br>

<form action="actualizar" method="get">
  Telefono: <input type="text" name="telefono" value="<%=contactos[0][0]%>" readonly />
  <br><br>
  Nombre: <input type="text" name="nombre" value="<%=contactos[0][1]%>" />
  
  <br><br>  
  <input type="submit" value="Actualizar"/>
</form>
</html>


