
<html>
<head>
<meta charset="UTF-8">
<title>Proyecto Agenda</title>
<style>
body {
    
    background-color: #cae4ff;    

}
</style>
</head>
<body>

<h1><center>Agenda Personal</center></h1>
<br><br><br><br><br>

<div style="text-align:center;margin:0 auto;width:100%;">

	<div style="width: 20%; float: left;margin:0px 10px 0px 100px;text-align:justify;">
		<a href="add">
			<img src="add.png" alt="Adicionar Contacto" style="width:140px;height:140px; ">
		</a>
		<br><h4>Adicionar Contacto</h4>
	</div>	
	<div style="width: 20%; float: left;margin:0px 10px 0px 0px;text-align:justify;">
		<a href="update">
			<img src="editar.png" alt="Editar Contacto" style="width:140px;height:140px; ">
			<br><h4>Editar Contacto</h4>
		</a>	
	</div>
	<div style="width: 20%; float: left;margin:0px 10px 0px 0px;text-align:justify;">
		<a href="delete">
			<img src="eliminar.png" alt="Borrar Contacto" style="width:140px;height:140px; ">
			<br><h4>Eliminar Contacto</h4>
		</a>	
	</div>
	<div style="width: 20%; float: left;margin:0px 0px 0px 0px;text-align:justify;">
		<a href="mostrar">
			<img src="contactos.png" alt="Mostrar Contacto" style="width:140px;height:140px; ">
		</a>	
		<br><h4>Mostrar Contactos</h4>
	</div>
	
<div style="clear: both;"/>
</div>


</body>
</html> 